<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">RESEARCH TEAM MEMBERS</h2>
                    <h3 class="section-subheading text-muted">SENSIBLE is a joint project between Università degli Studi di Milano and Politecnico di Milano.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Dr. Anna Bernasconi</h4>
                        <p class="text-muted">Research Assistant (Politecnico di Milano)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Prof. Matteo Chiara</h4>
                        <p class="text-muted">Associate Professor (Università degli Studi di Milano)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Prof. Stefano Ceri</h4>
                        <p class="text-muted">Full Professor (Politecnico di Milano)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tommaso Alfonsi</h4>
                        <p class="text-muted">Postdoc Researcher (Politecnico di Milano)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/5.jpg" class="img-responsive img-circle" alt="">
                        <h4>Dr. Alessandro Campi</h4>
                        <p class="text-muted">Assistant Professor (Politecnico di Milano)</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/6.jpg" class="img-responsive img-circle" alt="">
                        <h4>Luca Cassenti</h4>
                        <p class="text-muted">RMaster Student (Politecnico di Milano)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
