<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TEAM</h2>

                <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">Research Units</h3>
                <p class="large text-muted">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Politecnico di Milano</li>
                    <li class="list-group-item">Università degli Studi di Milano</li>
                </ul>
                </p>
            </div>
        </div>

                <p class="text-muted">
                    PoliMi has reached a consolidated international reputation in data modeling/integration and search
                    tools/user interfaces for genomic data management and query answering.
                    <!--Main contributions of Dr
                    Bernasconi have been within the GeCo Lab,
                    in the field of tertiary analysis for human genomics and viral sequences (see
                    <a href="http://www.bioinformatics.deib.polimi.it/geco/">GeCo website</a>).-->
                    <!--Recent research activities have been focused on the development of user tools for exploration of
                    genomic data and comparative analysis [31, 32, 24], on genomic information retrieval [51, 52], and
                    on methods for studying viral evolution [53, 11].-->
                    UniMi has long-standing experience and expertise in the development and application of
                    bioinformatics tools for genomic research.
                    <!--In the last few years, the analysis and interpretation of
                    different kinds of NGS-based
                    experiments and genomic data
                    have become the main research core of Professor Chiara at the BEACOn Lab.-->
                    The two units will co-design methods in the project.
                    PoliMi will be more focused on the implementation of information technologies and user
                    interfaces, while UniMi will contribute expertise in biology and comparative genomics.
                </p>
            </div>
        </div>

                

        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Dr. Anna Bernasconi, PI</h4>
                    <p class="text-muted">Research Assistant <br> (Politecnico di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Prof. Matteo Chiara, co-PI</h4>
                    <p class="text-muted">Associate Professor <br> (Università degli Studi di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Prof. Stefano Ceri</h4>
                    <p class="text-muted">Full Professor <br> (Politecnico di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                    <h4>Tommaso Alfonsi</h4>
                    <p class="text-muted">Postdoc Researcher <br> (Politecnico di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/5.jpg" class="img-responsive img-circle" alt="">
                    <h4>Dr. Alessandro Campi</h4>
                    <p class="text-muted">Assistant Professor <br> (Politecnico di Milano)</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/6.jpg" class="img-responsive img-circle" alt="">
                    <h4>Luca Cassenti</h4>
                    <p class="text-muted">Master Student <br> (Politecnico di Milano)</p>
                </div>
            </div>
        </div>

    </div>
</section>
