<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>-->
            <a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive img-circle"
                                                                      src="img/sens.png" alt="" width="50"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#theproject">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#expresults">Results</a>
                </li>
                <li>
                    <a class="page-scroll" href="#news">Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Small-data Early warNing System for viral pathogens <br> In puBLic hEalth</div>
            <div class="intro-heading">SENSIBLE</div>

            <div class="intro-lead-in">PRIN 2022 PNRR</div>

        </div>
    </div>
</header>

<section id="concept">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PROJECT CONCEPT</h2>
                <p class="text-muted">
                    Time span: December 2023 - November 2025.
                </p>
                <p class="myclass">
                    In March 2020, COVID-19 was declared a global pandemic, spurring intense research efforts. Genomic
                    surveillance emerged as a crucial defense against the virus.
                    <!--Variants of concern arise from
                    epidemiologically relevant mutations, posing challenges in disease control. Global pandemics are
                    exacerbated by habitat loss, urbanization, and globalization, facilitating
                    disease spread. -->
                    <br>
                    The <b>SENSIBLE project</b>, supported by the Italian Ministry of University and Research
                    (through NextGeneration EU funding), aims to <b>develop methods for analyzing viral genomes and
                    implement
                    early warning information systems based on data-driven analysis</b>, exploiting data from past
                    epidemics
                    for validation.
                    <br>
                    SENSIBLE will create an <b>integrated framework for genomic surveillance</b> of viral pathogens,
                    utilizing data-driven and
                    knowledge-based analyses. By leveraging knowledge from COVID-19, it seeks to enhance understanding
                    of viral pathogens and aid healthcare decision-making.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="theproject" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Objectives</h2>
                <!--<p class="text-muted">
                    Time span: December 2023 - November 2025.
                </p>-->
                <!-- <p class="text-muted">
                     SENSIBLE will develop an integrated framework for genomics surveillance of human pathogens.
                     We aim to leverage the knowledge gained on COVID-19 for building novel methods that can
                     handle and analyze pathogens’ genome sequencing data in current and future viral epidemics, and
                     implement an early warning system based on data-driven analysis.
                     It will address the following three objectives:
                 </p>-->
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data-driven Methods</h4>
                    <p class="text-muted">Derive effective methods for data-driven identification of emerging
                        viral pathogens</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Surveillance</h4>
                    <p class="text-muted">Build an objective framework for genomic surveillance in current and
                        future epidemics</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-warning fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Warning</h4>
                    <p class="text-muted">Implement an early warning system, to assist decision-making in
                        healthcare</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="methods">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Methodologies</h2>

                <p class="text-muted">
                    SENSIBLE will explore and harness data from different domains of interest, including:
                    analyses of available data,
                    mapping of equivalent/matched information from similar pathogens,
                    computation or prediction of novel features and properties of the virus under study.
                    The framework developed by SENSIBLE will feature four tasks:

                </p>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-table fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data-driven analysis of pathogens’ evolution</h4>
                    <p class="text-muted">The project partners will leverage previously developed methods
                        and tools for the genomic surveillance.
                        The range of applications of these methods wil be extended to identify minimal subsets of
                        actionable data, and evaluate their validity and
                        robustness.
                    </p>
                </div>

                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data and knowledge-based analysis</h4>
                    <p class="text-muted">To translate viral evolutionary dynamics into a collection of
                        “epidemiologically-relevant” annotations of the viral genome, different sources of information
                        will be gathered.
                        <!--                        functional annotations of genomic elements;
                                                highly conserved or hyper-variable genomic regions;
                                                sites under positive/negative selection;
                                                data on predicted and/or validated T and B-cell epitopes (if/when available);
                                                alteration in protein functions (e.g., binding) based on interaction with hosts’ proteins.-->
                        Annotations available from existing resources will be retrieved and integrated into an internal
                        knowledge base; missing data will be computed (via bioinformatics tools) or predicted (via
                        automatic learning procedures).</p>
                </div>

                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ranking and prioritization</h4>
                    <p class="text-muted">Based on the evolutionary observations and the detailed
                        functional annotations from previous tasks, a prioritization score will
                        be computed to assign a “level of concern” to emerging viral pathogens and or to novel viral
                        lineages.
                        The score will be exploited to develop a ranking system, which will be evaluated
                        according to the heuristics to be developed.</p>
                </div>

                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Validation and testing</h4>
                    <p class="text-muted">The initial development and setup of SENSIBLE will be performed on a selection
                        of use cases from the COVID-19 pandemic. Possible candidates to showcase the system and provide
                        an unbiased evaluation are Monkeypox (2022), Zika (2015-2016), and Swine Influenza (2009).</p>
                </div>


            </div>


        </div>
    </div>
    </div>
</section>

<!-- Services Section -->
<section id="expresults" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Expected results</h2>

                <p class="text-muted">
                    We will tackle two key epidemiological questions and identify key metrics for raising alerts and
                    early warnings in both scenarios:

                </p>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Minimal actionable data</h4>
                    <p class="text-muted">What is the minimal amount of data production/availability required to set up
                        an effective surveillance system? Can genomic surveillance be applied even in scarce/low
                        resources settings?
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prioritization of emerging pathogens</h4>
                    <p class="text-muted"> If a new mutation or pattern of
                        mutations arise in a human pathogen, how does
                        this impact its epidemiological features? </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Insights for public health</h4>
                    <p class="text-muted">How can a genomic surveillance tool based on small viral genomes
                        dataset help inform decisions of public health institutions?</p>
                </div>


            </div>


        </div>
    </div>
    </div>
</section>


<!-- About Section -->
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/start.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 1st, 2023</h4>
                                <h4 class="subheading">The project officially starts</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our meetings have already begun!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/recom.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>February 9th, 2024</h4>
                                <h4 class="subheading">Our preprint on biorXiv</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Here, we present <a
                                        href="https://doi.org/10.1101/2023.06.05.543733"
                                        target="_blank">RecombinHunt</a>, a novel,
                                    automated method for the identification of
                                    recombinant genomes purely based on a data-driven approach</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/natcomm.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 17th, 2024</h4>
                                <h4 class="subheading">Paper published on NatComm</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After a long journey, our <a
                                        href="https://www.nature.com/articles/s41467-024-47464-5"
                                        target="_blank">paper</a> describing
                                    the RecombinHunt
                                    approach, has been published on the prestigious Nature Communication
                                    journal!</p>
                            </div>
                        </div>
                    </li>


                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/caise24.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June 7th, 2024</h4>
                                <h4 class="subheading">CAiSE 2024</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We presented SENSIBLE in the context of the research projects of
                                    the <a href="https://cyprusconferences.org/caise2024/" target="_blank">36th
                                        International Conference
                                        on Advanced Information Systems Engineering</a>
                                    June 03-07 2024
                                    Limassol, Cyprus. Check out our poster <a
                                            href="https://annabernasconi.faculty.polimi.it/wp-content/uploads/Bernasconi_CAiSE_2024_RPE_SENSIBLE.pdf"
                                            target="_blank">here</a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/newspapers.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2nd, 2024</h4>
                                <h4 class="subheading">Our Press Release</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The news about our research on recombinant viruses for improving
                                    warning systems is out.
                                    See
                                    <a href="https://www.polimi.it/il-politecnico/news/dettaglio-news/recombinhunt-prevedere-pandemie-attraverso-lanalisi-dei-dati"
                                       target="_blank">Polimi
                                        website</a>
                                    and
                                    <a href="https://www.unimi.it/it/ateneo/la-statale/comunicazione-e-media/press-room/recombinhunt-prevedere-le-nuove-pandemie-attraverso-lanalisi-dei-dati"
                                       target="_blank">Unimi
                                        website</a>,
                                    <a href="https://x.com/polimi/status/1808154503994126770" target="_blank">X post</a>,
                                    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7213920755384762369"
                                       target="_blank">Linkedin
                                        post</a>,
                                    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7214187922537758720/"
                                       target="_blank">DEIB
                                        department post</a>.
                                    <br>
                                    Il Sole 24ore is speaking about us! See the <a
                                            href="https://www.infodata.ilsole24ore.com/2024/07/14/dallanalisi-dei-dati-un-nuovo-strumento-per-prevedere-nuove-pandemie/"
                                            target="_blank">article</a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/anna-bernasconi-2048x1152.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 10th, 2024</h4>
                                <h4 class="subheading">Interview</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The project PI Anna Bernasconi was interviewed for the online blog Frontiere. Read the article <a
                                        href="https://www.frontiere.polimi.it/from-viruses-to-laws-deciphering-data-to-predict-the-future/?lang=en"
                                        target="_blank">here</a>.
                                </p>
                            </div>
                        </div>
                    </li>

                    <!--<li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>-->

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Follow
                                <br>our
                                <br>progress!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="events" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meetings & Events</h2>

                <!--<p class="text-muted">
                    We will tackle two key epidemiological questions and identify key metrics for raising alerts and
                    early warnings in both scenarios:

                </p>-->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="pubitem">
                        <div class="pubtitle">Our meetings PoliMi + UniMi are held once a month in person</div>
                        <div class="pubauthors">DEIB department, Politecnico di Milano, starting December 20th, 2023
                            (our kickoff)
                            <!---    22 marzo, 12 marzo, 12 febbraio, 7 febbraio, 12 gennaio, 20 dicembre, , kickoff -->
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">Presentation of SENSIBLE project to Istituto Zooprofilattico Sperimentale
                            delle Venezie
                        </div>
                        <div class="pubauthors">online, December 22th, 2023
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">Presentation of SENSIBLE project to Dott. Daniele Focosi, Dott. Federico
                            Maggi and Federico Gueli
                        </div>
                        <div class="pubauthors">online, February 7th, 2024
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">We presented the SENSIBLE project at the CAiSE conference, see the
                            program <a href="https://cyprusconferences.org/caise2024/program/">here</a></div>
                        <div class="pubauthors">Limassol, Cyprus, 3-7 June, 2024
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">The SENSIBLE project supported the 5th International Workshop
                            on Conceptual Modeling for Life Sciences. See web page <a
                                    href="https://deib-geco.github.io/cmls2024/">here</a>.
                        </div>
                        <div class="pubauthors">Pittsburgh, Pennsylvania, US, 28 October, 2024
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubitem">
                            <div class="pubtitle">We presented the ConvMut tool (born within the SENSIBLE project) to
                                the GISAID team.
                            </div>
                            <div class="pubauthors">online, 6 November, 2024</div>
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubitem">
                            <div class="pubtitle">We participated in the
                                Virus Genomics, Evolution and Bioinformatics conference.
                                See web page <a
                                        href="https://coursesandconferences.wellcomeconnectingscience.org/event/virus-genomics-evolution-and-bioinformatics-20241106/">here</a>.
                            </div>
                            <div class="pubauthors">online, 6-8 November, 2024</div>
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubitem">
                            <div class="pubtitle">The SENSIBLE project supported the 1st International Workshop on
                                Information Systems and AI for Life Sciences. See web page <a
                                        href="https://upv-pros.gitlab.io/omics-hub/isails-2025/">here</a>.
                            </div>
                            <div class="pubauthors">Vienna, Austria, 16-20 June, 2025</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</section>

<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>

                <!--<p class="text-muted">
                    We will tackle two key epidemiological questions and identify key metrics for raising alerts and
                    early warnings in both scenarios:

                </p>-->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="pubitem">
                        <div class="pubtitle">Data-driven recombination detection in viral genomes</div>
                        <div class="pubauthors">Tommaso Alfonsi, Anna Bernasconi, Matteo Chiara, Stefano Ceri
                        </div>
                        <div class="pubinfo">Nature Communications volume 15, Article number: 3313 (2024)</div>
                        <div class="publinks">
                            <a href="/download/s41467-024-47464-5.pdf"></i> PDF</a>&nbsp;&nbsp;
                            <a href="https://doi.org/10.1038/s41467-024-47464-5"></i> Published Version</a>
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">Supporting data and code for "Data-driven recombination detection in viral
                            genomes".
                        </div>
                        <div class="pubauthors">Tommaso Alfonsi, Anna Bernasconi, Matteo Chiara, Stefano Ceri
                        </div>
                        <div class="pubinfo">Zenodo. https://zenodo.org/doi/10.5281/zenodo.8123832, published March
                            13th, 2024
                        </div>
                        <div class="publinks">
                            <!--<a href="/download/s41467-024-47464-5.pdf"></i> PDF</a>&nbsp;&nbsp;-->
                            <a href="https://zenodo.org/doi/10.5281/zenodo.8123832"></i> Published Version</a>
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">SENSIBLE: implementing data-driven early warning systems for future viral
                            epidemics
                        </div>
                        <div class="pubauthors">Anna Bernasconi, Matteo Chiara, Tommaso Alfonsi, Stefano Ceri
                        </div>
                        <div class="pubinfo">Proceedings of the Research Projects Exhibition Papers Presented at the
                            36th International Conference on Advanced Information Systems Engineering (CAiSE 2024),
                            Limassol, Cyprus, June 3-7, 2024. CEUR Workshop Proceedings, CEUR-WS.org 2024
                        </div>
                        <div class="publinks">
                            <a href="/download/Research_Project_CAiSE24_SENSIBLE.pdf"></i> PDF</a
                            >&nbsp;&nbsp;
                            <a href="https://ceur-ws.org/Vol-3692/"><i class="fas fa-link"></i> Published
                                Version</a>
                        </div>
                    </div>


                    <div class="pubitem">
                        <div class="pubtitle">Systematic analysis of SARS-CoV-2 Omicron subvariants’ impact on B and T cell epitopes
                        </div>
                        <div class="pubauthors">Ruba Al Khalaf, Anna Bernasconi, Pietro Pinoli
                        </div>
                        <div class="pubinfo">Plos one, 19(9), p.e0307873</div>
                        <div class="publinks">
                            <a href="/download/journal.pone.0307873.pdf"></i> PDF</a>&nbsp;&nbsp;
                            <a href="https://doi.org/10.1371/journal.pone.0307873"></i> Published Version</a>
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">Supporting data for "Systematic analysis of SARS-CoV-2 Omicron
                            subvariants' impact on B and T cell epitopes".
                        </div>
                        <div class="pubauthors">Ruba Al Khalaf, Anna Bernasconi, Pietro Pinoli
                        </div>
                        <div class="pubinfo">Zenodo. https://zenodo.org/doi/10.5281/zenodo.10514577, published June
                            25th, 2024
                        </div>
                        <div class="publinks">
                            <!--<a href="/download/s41467-024-47464-5.pdf"></i> PDF</a>&nbsp;&nbsp;-->
                            <a href="https://zenodo.org/doi/10.5281/zenodo.10514577"></i> Published Version</a>
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">Tentative publication 1
                        </div>
                        <div class="pubauthors">We plan on testing our approach to find viral recombination on the
                            Influenza virus, to identify intra-segment recombination events. This work could be proposed
                            to a journal in the computational virology area.
                        </div>
                    </div>

                    <div class="pubitem">
                        <div class="pubtitle">Tentative publication 2
                        </div>
                        <div class="pubauthors">We plan on preparing a retrospective study on performing
                            a codon bias data approach for the stratification of Influenza A virus clades. This will be
                            submitted to a journal in the bioinformatics area.
                        </div>
                    </div>
                    <div class="pubitem">
                        <div class="pubtitle">Tentative publication 3
                        </div>
                        <div class="pubauthors">We plan on submitting a paper describing the data collection, database
                            schema, queries, and analytics process on influenza virus genome sequences. This will be
                            submitted to a workshop/conference in the data modeling/bioinformatics area.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>


<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TEAM</h2>

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h3 class="section-heading">Research Units</h3>
                        <p class="large text-muted">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Politecnico di Milano</li>
                            <li class="list-group-item">Università degli Studi di Milano</li>
                        </ul>
                        </p>
                    </div>
                </div>

                <p class="text-muted">
                    PoliMi has reached a consolidated international reputation in data modeling/integration and search
                    tools/user interfaces for genomic data management and query answering.
                    <!--Main contributions of Dr
                    Bernasconi have been within the GeCo Lab,
                    in the field of tertiary analysis for human genomics and viral sequences (see
                    <a href="http://www.bioinformatics.deib.polimi.it/geco/">GeCo website</a>).-->
                    <!--Recent research activities have been focused on the development of user tools for exploration of
                    genomic data and comparative analysis [31, 32, 24], on genomic information retrieval [51, 52], and
                    on methods for studying viral evolution [53, 11].-->
                    UniMi has long-standing experience and expertise in the development and application of
                    bioinformatics tools for genomic research.
                    <!--In the last few years, the analysis and interpretation of
                    different kinds of NGS-based
                    experiments and genomic data
                    have become the main research core of Professor Chiara at the BEACOn Lab.-->
                    The two units will co-design methods in the project.
                    PoliMi will be more focused on the implementation of information technologies and user
                    interfaces, while UniMi will contribute expertise in biology and comparative genomics.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Dr. Anna Bernasconi, PI</h4>
                    <p class="text-muted">Assistant Professor<br> (Politecnico di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Prof. Matteo Chiara, co-PI</h4>
                    <p class="text-muted">Associate Professor <br> (Università degli Studi di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Prof. Stefano Ceri</h4>
                    <p class="text-muted">Full Professor <br> (Politecnico di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                    <h4>Dr. Tommaso Alfonsi</h4>
                    <p class="text-muted">Postdoc Researcher <br> (Politecnico di Milano)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/5.jpg" class="img-responsive img-circle" alt="">
                    <h4>Dr. Alessandro Campi</h4>
                    <p class="text-muted">Assistant Professor <br> (Politecnico di Milano)</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/6.jpg" class="img-responsive img-circle" alt="">
                    <h4>Luca Cassenti</h4>
                    <p class="text-muted">Master Student <br> (Politecnico di Milano)</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">To get in touch, please write to:
                    anna.bernasconi@polimi.it</h3>
            </div>
        </div>
        <!--         <div class="row">
                     <div class="col-lg-12">
                         <form name="sentMessage" id="contactForm" novalidate>
                             <div class="row">
                                 <div class="col-md-6">
                                     <div class="control-group form-group">
                                         <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                         <p class="help-block text-danger"></p>
                                     </div>
                                     <div class="control-group form-group">
                                         <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                         <p class="help-block text-danger"></p>
                                     </div>
                                     <div class="control-group form-group">
                                         <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                         <p class="help-block text-danger"></p>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="control-group form-group">
                                         <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                         <p class="help-block text-danger"></p>
                                     </div>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="col-lg-12 text-center">
                                     <div id="success"></div>
                                     <button type="submit" class="btn btn-xl">Send Message</button>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>-->
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://prin.mur.gov.it/Iniziative/Detail?key=xntlwCEQJ%2BTLxeoukrh%2FdQ%3D%3D">
                    <img src="img/Loghi-MUR-PNRR.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="copyright">SENSIBLE, PRIN 2022 PNRR by Italian MUR, grant n. P2022CNN2J</span>
            </div>
            <!--  <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                      {% for network in site.social %}
                      <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li><a href="#">Privacy Policy</a>
                      </li>
                      <li><a href="#">Terms of Use</a>
                      </li>
                  </ul>
              </div>-->
        </div>
    </div>
</footer>
